<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="main.css">
</head>
<body ng-app="app" ng-controller="BodyController as bodyCtrl">

<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings">
      </md-button>
      <h2 style="padding-left: 10%;">
        <span style="font-weight: 800;">Connect-Map:</span>
        <span style="font-weight: 300; text-size: 14px"> Connecting Scattered Thoughts, Documents, Photos, Tasks, and More..</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
      </md-button>
    </div>
  </md-toolbar>
</md-content>

<div style="padding-left: 10%; width: 80%;">



  <div class="sample integration-options-container" layout="column" ng-style="{ 'height' : bodyCtrl.panel.height}" style="padding-top: 20px; padding-bottom: 20px; text-align: center;" off-click="bodyCtrl.test()">
    <md-content style="height: 250px">
      <md-tabs selectedIndex="-1" md-border-bottom md-autoselect >
        <md-tab>
          <md-tab-label>
            <md-icon ng-click="bodyCtrl.toggleProviderContainer()">
              <img src="img/drive.png" height="35px" width="35px" class="integration-icon">
            </md-icon> 
          </md-tab-label>
           <md-tab-body ng-show="false">
            <md-content class="md-padding">
            <p>Clicking "Connect To Drive" will update any field having a google drive url with the documents at that google drive url.</p>
            </md-content>
            <md-button class="connect-btn" ng-click="bodyCtrl.attachDriveFiles()">Connect To Drive</md-button>
         </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <md-icon ng-click="bodyCtrl.toggleProviderContainer()">
              <img src="img/gmail.png" height="35px" width="45px" class="integration-icon">
            </md-icon> 
          </md-tab-label>
           <md-tab-body ng-show="false">
            <md-content class="md-padding">
            <p>Clicking "Connect To Gmail" will update any field preceded with the keyword: "gmail-label:" by pulling all of your gmail communications having that keyword.</p>
            </md-content>
            <md-button class="connect-btn">Connect To Gmail</md-button>
         </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <md-icon ng-click="bodyCtrl.toggleProviderContainer()">
               <img src="img/asana.png" height="35px" width="35px" class="integration-icon">
             </md-icon> 
          </md-tab-label>
           <md-tab-body ng-show="false">
            <md-content class="md-padding">
            <p>clicking "Connect To Asana" will update any field having asana links with the task associated with the project.</p>
            </md-content>
            <md-button class="connect-btn" >Connect To Asana</md-button>
         </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <md-icon ng-click="bodyCtrl.toggleProviderContainer()">
               <img src="img/trello.png" height="35px" width="35px" class="integration-icon">
             </md-icon> 
          </md-tab-label>
           <md-tab-body ng-show="false">
            <md-content class="md-padding">
            <p>clicking "Connect To Trello" will update any field wih a trello link with the title name of the various notes in that project or sub-project.</p>
            </md-content>
            <md-button class="connect-btn" >Connect To Trello</md-button>
         </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <md-icon ng-click="bodyCtrl.toggleProviderContainer()">
               <img src="img/twitter.png" height="35px" width="35px" class="integration-icon">
             </md-icon> 
          </md-tab-label>
           <md-tab-body ng-show="false">
            <md-content class="md-padding">
            <p>clicking "Post To Twitter" will post the content of any field whose first words is "twitter:" to your twitter account.</p>
            </md-content>
            <md-button class="connect-btn" >Post To Twitter</md-button>
         </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <md-icon ng-click="bodyCtrl.toggleProviderContainer()">
               <img src="img/facebook.png" height="35px" width="35px" class="integration-icon">
             </md-icon> 
          </md-tab-label>
           <md-tab-body ng-show="false">
            <md-content class="md-padding">
            <p>clicking "Post To Facebook" will post the content of any field whose first words is "facebook:" to your facebook account.</p>
            </md-content>
            <md-button class="connect-btn">Post to Facebook</md-button>
         </md-tab-body>
        </md-tab> 
      </md-tabs>
    </md-content>
  </div>


  <iframe width="100%" height="700" frameborder="0" scrolling="auto" id="mindmap" src="https://www.mindmeister.com:/maps/show?api_key=26182cd389ae2e1dbdcca1090e91e682&auth_token=3188a3c9fce4944343512e703112fae3&id=415467547&api_sig=df650f391fdf43a1f43c70beb0af0910"></iframe>


</div>

<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
<script type="text/javascript" src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="bower_components/angular-off-click/offClick.js"></script>

<script type="text/javascript" src="main.js"></script>
<script type="text/javascript" src="drive.js"></script>
  
</body>
</html>