body{
  background-color: #EC407A;
  /*background-color: #7E57C2;*/
  /*background-color: #1565C0;*/
  /*http://www.google.com/design/spec/style/color.html#color-color-palette*/
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white;
}
.md-toolbar-tools{
  background-color: #0af;
  color: white;
}

.button-list{
  display: inline;
  float: right;
}